DATABASE_URL="postgresql:XXXXXXX"
NEXT_PUBLIC_SUPABASE_URL="XXXXXXXX.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="XXXXXXXXXXXXXX"
ADMIN_EMAIL="azmarmandi@gmail.com"
ORDER_NOTIFICATION_EMAIL="azmarmandi@gmail.com"
RESEND_API_KEY="re_XXXXXXXX"
ORDER_EMAIL_FROM="Azmar Mandi Orders <orders@your-verified-domain.com>"
